@charset "UTF-8";

// $BaseType
// -------------------------------------//

$font-smoothing: subpixel-antialiased;
$font-weight: 400;
$bold-font-weight: 700;
$light-font-weight: 300;
$header-font-weight: 400;
$line-height: 1.5;
$font-size: 100.0; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; // Non-font-face font-stack

$custom-font-family: 'Lato';

//$fixed-font-family: Menlo, Monaco, monospace, 'Courier New', Courier;

// alternate fixed family - based on SO
$fixed-font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;

// $Small Print
// -------------------------------------//

$small-print-size: 65%;


// $Ampersand
// -------------------------------------//

$amp-fontface-name: Ampersand;
$amp-fontface-source: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$amp-fontface-fallback: local('Georgia');

// Allows for our ampersand element to have differing
// font-family from the ampersand unicode font-family.
$amp-font-family: Verdana, sans-serif;


// $Icon-Font-Helper
// -------------------------------------//
// ex.1) $icon-fonts: (icon-name);
// ex.2) $icon-fonts: (icon-name1, icon-name2, icon-name3);
$icon-fonts: ("blogicons-regular");


// $TypeScale
// -------------------------------------//

/*
$tera: 72; // 117 = 18 × 6.5
$giga: 60; // 90 = 18 × 5
$mega: 48; // 72 = 18 × 4
$alpha: 44; // 60 = 18 × 3.3333
$beta: 36; // 48 = 18 × 2.6667
$gamma: 24; // 36 = 18 × 2
$delta: 21; // 24 = 18 × 1.3333
$epsilon: 18; // 21 = 18 × 1.1667
$zeta: 16; // 18 = 18 × 1

$small: 14;
$tiny: 12;
*/

$tera: 72; // 117 = 18 × 6.5
$giga: 60; // 90 = 18 × 5
$mega: 48; // 72 = 18 × 4
$alpha: 44; // 60 = 18 × 3.3333
$beta: 36; // 48 = 18 × 2.6667
$gamma: 24; // 36 = 18 × 2
$delta: 21; // 24 = 18 × 1.3333
$epsilon: 18; // 21 = 18 × 1.1667
$zeta: 16; // 18 = 18 × 1

$small: 14;
$tiny: 12;


// Trying out 16-18 ... 30 based on golden
// http://modularscale.com/scale/?px1=16&px2=18&ra1=1.618
// http://modularscale.com/scale/?px1=16&px2=200&ra1=1.618
/* $tera: 110; */
/* $giga: 76; */
/* $mega: 68; */
/* $alpha: 47;   // H1 */
/* $beta: 42;    // H2 */
/* $gamma: 29;   // H3 */
/* $delta: 26;   // ... */
/* $epsilon: 18; */
/* $zeta: 16; */

/* $small: 14; */
/* $tiny: 12; */


// $TypeScale-Unit
// -------------------------------------//

$type-scale-unit-value: rem;


// $Text-Indentation
// -------------------------------------//

$indent-val: px($line-height);


// $Pull-Quotes
// -------------------------------------//

$pull-quote-fontsize: 4em;
$pull-quote-opacity: 0.5;
$pull-quote-color: #dc976e;


// $Citation
// -------------------------------------//

$cite-display: block;
$cite-text-align: right;
$cite-font-size: inherit;


// $SmallCaps
// -------------------------------------//

$small-caps-color: gray;
$small-caps-weight: 600;


// $DropCap
// -------------------------------------//

$dropcap-float-position: left;
$dropcap-font-size: 4em;
$dropcap-font-family: inherit;
$dropcap-txt-indent: 0;
$dropcap-margin: inherit;
$dropcap-padding: inherit;
$dropcap-color: inherit;
$dropcap-line-height: 1;
$dropcap-bg: transparent;

// $Compass overrides
// -------------------------------------//
$default-border-radius: 2px;

// $Devblog variables
// -------------------------------------//

$gutter-mid: $column-gutter / 2;
$gutter-small: $column-gutter / 4;
$gutter-tiny: $column-gutter / 8;

$size-icon: 25px;

$height-header: $gutter-mid*1.48;

// $Color
// -------------------------------------//

// Shades

$color-white: #fdfdfd;
$color-white-off: #fafafa;

$color-blue: #477db3;
$color-blue-dark: #366896;
$color-blue-light: #b6cbe0;
$color-blue-lighter: #f0f5fa;

$color-sky: #60b9e4;
$color-sky-dark: darken(saturate($color-sky, 4%), 16%);

$color-red: #e4685e;

$color-yellow: #f9c582;
$color-yellow-light: lighten($color-yellow, 24%);
$color-yellow-dark: darken(saturate($color-yellow, 8%), 32%);

$color-red: #e4685e;
$color-red-light: lighten($color-red, 24%);
$color-red-dark: darken(saturate($color-red, 8%), 32%);

$color-green: #5bbfbe;

$color-gray-dark: #454545;
$color-gray: #666666;
$color-gray-light: #efefef;
$color-gray-lighter: #fafafa;

$color-black: #212326;

// Content colors
$color-copy: #707070;

$color-heading: #444;

$color-bg-body: #f5f9fc;
$color-bg-search: #a6b7c7;
$color-border-post: lighten(#b8c8d9, 8%);
$color-bg-code: darken(#272e35, 4%);
$color-bg-code: darken($color-gray-lighter, 1%);
