@import "compass";

body {
    color: #444 !important;
    background: white !important;
}

.page-wrap {
    &, &:before {
        background: none !important;
    }
}

.search-wrapper {
    display: none !important;
}

.header {
    margin-bottom: -150px !important;
    &, .link-logo {
        color: #444 !important;
        background: none !important;
    }
    .separator {
        padding-left: 10px;
    }
    .print-logo {
        display: inline-block;
        margin-top: -5px;
        margin-left: -30px;
    }
}

.end-of-feed {
    display: none;
}

.post-wrapper {
    color: #444 !important;
    background: none !important;
    margin-top: 100px !important;
    margin-bottom: 0 !important;
    &:first-child {
        margin-top: 0;
    }
    .meta-wrapper .tags {
        display: none !important;
    }
    &:before, &:after {
        display: none !important;
    }
}
.post-box {
    @include box-shadow(none !important);
    margin-bottom: -150px !important;
    background: none !important;

    .title-wrapper .title a {
        color: #222 !important;
    }
    &:before, &:after {
        display: none !important;
    }
    .content-wrapper .content {
        font-size: 14px !important;
    }
    .author-wrapper {
        border-top-color: #aaa;
    }
}
.comments-wrapper {
    display: none !important;
}
.footer {
    display: none !important;
}
