/* line 3, ../../scss/print.scss */
body {
  color: #444 !important;
  background: #fff !important;
}

/* line 8, ../../scss/print.scss */
.search-wrapper {
  display: none !important;
}

/* line 12, ../../scss/print.scss */
.header {
  margin-bottom: -50px !important;
}
/* line 14, ../../scss/print.scss */
.header .separator {
  padding-left: 10px;
}
/* line 17, ../../scss/print.scss */
.header .print-logo {
  display: inline-block;
  margin-top: -5px;
  margin-left: -30px;
}

/* line 24, ../../scss/print.scss */
.end-of-feed {
  display: none;
}

/* line 29, ../../scss/print.scss */
.post-wrapper .meta-wrapper .tags {
  display: none !important;
}
/* line 32, ../../scss/print.scss */
.post-wrapper:after {
  display: none !important;
}

/* line 36, ../../scss/print.scss */
.post-box {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-bottom: -150px !important;
}
/* line 39, ../../scss/print.scss */
.post-box:before, .post-box:after {
  display: none !important;
}
/* line 42, ../../scss/print.scss */
.post-box .content-wrapper .content {
  font-size: 14px !important;
}

/* line 46, ../../scss/print.scss */
.comments-wrapper {
  display: none !important;
}

/* line 49, ../../scss/print.scss */
.footer {
  display: none !important;
}
